.profile-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 16px 18px;
  justify-items: start;
  align-items: center;
  max-width: 336px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 415px){
  .profile-info {
    max-width: 282px;
    margin-bottom: 36px;
    gap: 14px 10px;
  }
}
