.form__button {
  margin: 15px 0 0 0;
  padding: 0;
  height: 50px;
  color: #fff;
  background-color: #000;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color .3s;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  box-sizing: border-box;
}

.form__button:hover {
  background-color: rgba(0, 0, 0, .8);
  transition: background-color .3s;
}

@media screen and (max-width: 540px) {
  .form__button {
    margin: 15px 0 0 0;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
