.photos {
  width: 100%;
  margin: 0;
  padding: 0 0 66px 0;
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto;
  grid-auto-rows: auto;
  gap: 20px 17px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 922px){
  .photos {
    grid-template-columns: repeat(2, auto);
  }
}

@media screen and (max-width: 610px){
  .photos {
    grid-template-columns: repeat(1, auto);
  }
}

@media screen and (max-width: 415px){
  .photos {
    width: auto;
    padding: 0 19px 48px 19px;
  }
}
